/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    border-bottom: 2px solid rgb(27, 196, 139);
    text-align: left;
    margin-bottom: 20px;
}

header h1 {
    color: rgb(27, 196, 139);
    font-size: 2em;
    margin-bottom: 10px;
}

header p {
    margin-bottom: 5px;
    font-size: 1.2em;
}



section {
    margin-bottom: 20px;
}

h2 {
    color: rgb(27, 196, 139);
    padding-bottom: 0px;
    margin-bottom: 5px;
    font-size: 1.5em;
}

.skills{
    padding-right: 280px;
}
.skills ul {
    list-style: none;
    padding-left: 0;
}

.skills li {
    text-align: left;
    background: #e2e2e2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

h3 {
    color: rgb(27, 196, 139);
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.container p{
    border-bottom: #333;
    margin-bottom: 10px;

}
